@charset "utf-8";
/* CSS Document */

html{
	
	font-family:Verdana, Geneva, sans-serif;
	font-size: 12px;
	background-color: rgba(128, 128, 128, 0.14);
	}
	
body{
	margin:0;
	}
	
#contenido{
	margin:0 auto;
	width:960px;
	
	}

#formulario{
	background-color:#e2f1fe;
	padding: 50px;
	
	
	}
	
#intro{
	
	font-weight: bold;
    color: rgb(77, 100, 167);
	
	}

#introducir{
	
	width: 40%;
	margin-top: 30px;
	
	}
	
#btn{
	
	margin: 0 0 0 5%;
    border-radius: 3px;
    width: 10%;
    border-style: solid;
    color: white;
    background-color: 428bca;
    border-color: #428bca;
	
	}
	
hr{
	
	margin:0;
	
	}
	
#result{
		
	background-color: white;
    height: 500px;
    margin: 0;
		
		}

p{
	
	padding: 35px 30px 0 30px;
    margin: 0;
    font-size: 14;
    color: rgb(51, 74, 140);
    text-align: justify;
	
	}